$brand-primary: hsl(322, 100%, 66%);
$brand-neutral-primary: hsl(193, 100%, 96%);
$brand-neutral-secondary: hsl(192, 100%, 9%);
$brand-neutral-tertiary: hsl(208, 11%, 55%);

$font-headings: "Poppins", Helvetica, Arial, sans-serif;
$font-body: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
