@import "_reset";
@import "_variables";

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-body;
  text-align: center;
  color: $brand-neutral-tertiary;
  line-height: 1.5;
  background-image: url("../../images/bg-hero-mobile.svg");
  background-color: $brand-neutral-primary;
  background-repeat: no-repeat;
  background-size: contain;
}

p,
a {
  text-decoration: none;
  font-size: 0.777rem;
}

p {
  margin-bottom: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-neutral-secondary;
  font-family: $font-headings;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1rem;
}

.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.333rem 0.833rem;
}

.brand-logo {
  max-width: 105px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  padding-left: 1.39rem;
  padding-right: 1.39rem;
  p {
    margin-bottom: 2rem;
    color: $brand-neutral-secondary;
  }
  .product-image {
    margin-top: 3.111rem;
    margin-bottom: 0;
  }
  .wrapper {
    padding-bottom: 2rem;
  }
}

.content {
  background-color: #fff;
  padding-top: 1.111rem;
}

.product-image {
  margin-bottom: 3.332rem;
  margin-top: 1.666rem;
  align-self: center;
}

.card {
  background-color: #fff;
  margin: 2.222rem 1.111rem;
  padding: 1.666rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.66rem rgba(0, 0, 0, 0.1);
}

.card-community {
  padding: 2.333rem 0;
  z-index: 5;
  position: relative;
  box-shadow: 0 0 0.66rem rgba(0, 0, 0, 0.1);
  margin: 6rem 0.833rem -3.66rem 0.833rem;
}

.btn {
  font-family: $font-body;
  display: inline-block;
  color: $brand-neutral-primary;
  font-weight: 700;
  font-size: 0.55rem;
  border: 0;
  border-radius: 10rem;
}

.btn-signup {
  padding: 0.33rem 1.333rem;
  color: $brand-neutral-secondary;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-register {
  padding: 0.66rem 3.333rem;
  background-color: $brand-primary;
}

footer {
  text-align: left;
  background-color: $brand-neutral-secondary;
  color: $brand-neutral-primary;
  padding-top: 6rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 1;
  a {
    color: inherit;
    font-size: 0.89rem;
    margin-bottom: 0;
  }
  .brand-logo {
    max-width: 160px;
    margin-bottom: 1.666rem;
  }
  li {
    margin-bottom: 0.66rem;
  }
}

.copyright {
  font-family: $font-headings;
  text-align: center;
  font-size: 0.66rem;
}

ul.social-icons {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    padding: 0;
    margin-bottom: 0;
    &:last-child {
      a {
        margin: 0;
      }
    }
    a {
      text-align: center;
      display: inline-flex;
      color: $brand-neutral-primary;
      font-size: 1rem;

      border: 1px solid $brand-neutral-primary;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      margin-right: 0.66rem;
      text-decoration: none;
    }
  }
}

.contact-location {
  display: flex;
  flex-direction: row;
}

.location-icon {
  height: 1rem;
  width: auto;
  align-self: flex-start;
  margin-top: 0.3rem;
  margin-right: 1.3rem;
}

.contact-links {
  white-space: normal;
}

.contact-email:before,
.contact-phone:before {
  margin-right: 1rem;
  vertical-align: -15%;
  white-space: normal;
}

.contact-phone:before {
  content: url("../../images/icon-phone.svg");
}

.contact-email:before {
  content: url("../../images/icon-email.svg");
}

@media screen and (min-width: 376px) {
  h1 {
    font-size: 2.4rem;
  }

  .wrapper {
    padding: 3.35rem 4.35rem;
  }

  header {
    margin-bottom: 5.5rem;
  }

  .brand-logo {
    max-width: 215px;
  }
}

@media screen and (min-width: 850px) {
  body {
    background-image: url("../../images/bg-desktop.svg");
    background-size: cover;
  }
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-icons {
    ul {
      justify-content: flex-end;
      li {
        padding: 0;
        &:last-child {
          a {
            margin: 0;
          }
        }
        a {
          font-size: 1.3rem;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
  body {
    text-align: left;
  }
  .card-community {
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.333rem;
  }
  .brand-logo {
    max-width: 205px;
  }

  .btn {
    font-size: 0.888rem;
  }

  .btn-signup {
    padding: 0.666rem 3.777rem;
  }

  .introduction {
    margin-bottom: 1.666rem;
    .btn-register {
      padding: 1rem 4rem;
      font-size: 0.888rem;
    }
  }

  .introduction .wrapper {
    display: flex;
    align-items: center;
    .product-copy {
      max-width: 40%;
      margin-right: 4rem;
    }
  }

  .product-image {
    max-width: 60%;
    margin: 0;
  }

  .card {
    border-radius: 16px;
  }
  .wrapper.card {
    max-width: 1235px;
    margin: 0 auto 2.222rem auto;
    display: flex;
    align-items: center;
    padding: 2.222rem;
    .product-copy {
      max-width: 50%;
      margin-left: 8.222rem;
    }
    .product-image {
      padding-left: 4.666rem;
      max-width: 40%;
    }
  }

  .card:first-child {
    margin-top: 7.777rem;
  }

  .card:nth-child(odd) {
    .product-image {
      order: 2;
      padding-left: 0;
    }
    .product-copy {
      padding-left: 4.666rem;
      margin-right: 8.222rem;
      margin-left: 0;
    }
  }
  .card.card-community {
    max-width: 805px;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    padding: 2.888rem;
    h3 {
      font-size: 1.555rem;
      margin-bottom: 1.666rem;
    }
  }
  .btn-register {
    padding: 1.2rem 5.666rem;
    font-size: 1rem;
    box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: -7.5rem;
    .brand-logo {
      max-width: 242px;
      margin-bottom: 2.555rem;
    }
    .wrapper {
      max-width: 1235px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .contact-links {
    p,
    a {
      font-size: 0.777rem;
    }
  }
  .footer-links {
    display: flex;
    //justify-content: space-between;
    & > * {
      max-width: 40%;
      padding-right: 8rem;
    }
  }
  ul.social-icons {
    margin-top: 0;
  }
  .copyright {
    float: right;
  }
}
